@import "compass/css3";
@import "variables.scss";

*, *:after, *:before {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: $color-body-text;
	font-weight: 300;
}

html {
	font-size: $font-size-desktop;	
	@media(max-width: 767px) {
		font-size: $font-size-mobile;
	}
}

body {
	font-family: $body-font-family;
	font-size: $font-size-desktop;
	@media(max-width: 767px) {
		font-size: $font-size-mobile;
	}
	line-height: $line-height;
	position: relative;
	z-index: 1000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	color: $color-heading;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	
	.highlight {
		color: $color-accent;
		-webkit-text-fill-color: $color-accent;
	}
	
	.underline {
		display: inline-block;
		text-decoration: underline;
	}
	
	.heading-icon {
		display: block;
		width: 60px;
		height: 60px;
		margin: 15px auto;
	}
}

h2,h3,h4,h5,h6 {
	color: $color-heading;
	
	@media(max-width: 420px) {
		letter-spacing: 0px;
	}
	
	a {
		text-decoration: none !important;
		color: inherit;
		display: inline-block;
	}
}

h1 {
	font-family: $heading-alt-font-family;
	font-size: 42px;
	line-height: 51px;
	padding-top: 3px;
	margin-bottom: 12px;
	color: $color-heading;
	
	&.max-540 {
		max-width: 540px;
	}
	
	.thin {
		font-weight: 300;
	}
}

h2 {
	font-size: 30px;
	line-height: 1.4;
	padding-top: 9px;
	margin-bottom: 30px;
	
	//background: -webkit-linear-gradient(140deg, #00fff3 0%, #ffd2a0 100%);
	//background-clip: text;
	//-webkit-background-clip: text;
	//-webkit-text-fill-color: transparent;
	
	@media(max-width: 420px) {
		font-size: 22px;
		letter-spacing: 0px;
	}
}

h3 {
	font-size: 21px;
	line-height: 30px;
	padding-top: 6px;
	
	margin-bottom: 16px
}

h4 {
	font-size: 18px;
	line-height: 45px;
	padding-top: 15px;
	
	margin-bottom: 15px
}

h5 {
	font-size: 16px;
	line-height: 30px;
	padding-top: 8px;
	
	margin-bottom: 22px
}

h6 {
	font-size: 14px;
	line-height: 30px;
	padding-top: 9px;
	
	margin-bottom: 21px
}

p {
	padding-top: 0px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	
	&.intro-text {
		font-size: 17px;
		line-height: 27px;
		margin-bottom: 21px;
		
		&.spaced {
			line-height: 30px;
		}
	}
	
	strong {
		font-weight: 500;
	}
}

a {
	color: $color-brand;
	text-decoration: none;
	
	&:hover {
		color: darken($color-brand, 6%);
	}
}

ul, ol {
	margin-bottom: 15px;
	
	& > li {
		font-size: 14px;
		line-height: 24px;
	}
}

iframe[name='google_conversion_frame'] { 
	height: 0 !important;
	width: 0 !important; 
	line-height: 0 !important; 
	font-size: 0 !important;
	margin-top: -13px;
	float: left;
}

.youtube-iframe {
	//display: none;
	margin: 25px 0;
}

p.small {
	font-size: 85%;
	line-height: 1.5;
}
.text-uppercase{
	text-transform: uppercase;
}
