$heading-font-family: 'Playfair Display',serif;
$heading-alt-font-family: 'Playfair Display',serif;
$body-font-family: 'Roboto',sans-serif;

$font-size-desktop: 15px;
$font-size-mobile: 15px;
$line-height: 30px;

$color-brand: #202A61;
$color-accent: #7FB300;
$color-accent-2: #6A6B6B;
$color-accent-3: #EFFEF7;

$color-arts: #ED3237;
$color-coaching: #222222;

$color-bright: #ffffff;
$color-dark: #222222;
$color-off-white: #F8F8F8;
$color-light: #F8F8F8;
$color-gray: #B1B1B1;
$color-light-gray: #ECEBE8;

$color-highlight: $color-accent;
$color-cta: $color-accent;
$color-danger: #8b0000;
$color-cream: #FFEDA4;

$color-body-bg: #ffffff;
$color-body-text: $color-accent-2;
$color-heading: $color-brand;
$color-alt-heading: $color-brand;
$color-link: $color-accent;
$color-navigation: $color-brand;

$border-radius: 3px;

// $icons: sprite-map("icons/*.png"); // contains icons/new.png among others.
